<% # Begin Config section %>
<% content_for :title do %>COMMAND C > Admin > Login<% end %>
<% content_for :bodyclass do %>admin<% end %>
<% # End Config section %>
<%= image_tag 'please-login.gif', :size => "273x48", :alt => "please login", :id => "please-login" %>

<% form_tag session_path do -%>
<table cellpadding="0" cellspacing="0" border="0">
	<% if flash[:error] -%>
		<tr>
			<td colspan="2" class="error"><%= flash[:error] %></td>
		</tr>
	<% end %>
	<tr>
		<td class="label"><%= label_tag 'login:' %></td>
		<td><%= text_field_tag 'login', @login, :size => 23 %></td>
	</tr>
	<tr>		
		<td class="label"><%= label_tag 'password:' %></td>
		<td><%= password_field_tag 'password', nil, :size => 23 %></td>
	</tr>
		<!-- Uncomment this if you want this functionality
		<p><%= label_tag 'remember_me', 'Remember me' %>
		<%= check_box_tag 'remember_me', '1', @remember_me %></p>
		-->
	<tr>
		<td colspan="2" id="submit"><%= image_submit_tag 'login.gif', :onmouseover => "this.src = '/images/login_ro.gif'", :onmouseout => "this.src = '/images/login.gif'" %></td>
	</tr>
</table>
<% end -%>
