<h1>Editing client</h1>

<% form_for(@client, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :is_featured %><br />
    <%= f.check_box :is_featured %>
  </p>
  <% if @client.imagefile %>
    <%= image_tag(@client.imagefile.public_filename(:client_logo)) %>
  <% end %>

    <% fields_for :imagefile do |a| %>
      <p>
        <%= a.label 'Image' %><br />
        <%= a.file_field :uploaded_data %>
      </p>
    
    <% end %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
