<% # Begin Config section %>
<% content_for :title do %>COMMAND C > Our Clients<% end %>
<% content_for :bodyclass do %>clients<% end %>
<% content_for :javascripts do %>
	<%= javascript_include_tag 'class-scroll' %>
<% end %>
<% # End Config section %>

<% for client in @featured_clients %>
	<% div_for(client, :class => cycle('top-left', 'top-middle', 'top-right', 'bottom-left', 'bottom-middle', 'bottom-right')) do %>
		<%= link_to image_tag(client.imagefile.public_filename(:client_logo)), client.url %>
		<div class="small">>> <a href="<%=h client.url %>"><%=h client.name %></a></div>
		<% if authorized? %>
			<%= link_to_show_overlay( image_tag("pencil.png", :size => "16x16"), edit_client_path(client), {:title => "Edit"}) %>
			<%= link_to( image_tag("fail.png", :size => "16x16"), client, {:confirm => 'Are you sure?', :method => :delete, :title => "Delete"}) %>
		<% end %>
	<% end %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => "common/portfoliolink" %>
	<div class="sidebar-list-heading">oh there&rsquo;s more...</div>
	<div id="scroll">
		<ul class="sidebar-list" id="client_list">
		<% for client in @clients %>
			<% content_tag_for :li, client do %>
				<% if authorized? %>
					<%= image_tag("drag_handle.png", :size => "16x16", :class => "drag_handle") %>
					<%= link_to_show_overlay( image_tag("pencil.png", :size => "16x16"), edit_client_path(client), {:title => "Edit"}) %>
					<%= link_to( image_tag("fail.png", :size => "16x16"), client, {:confirm => 'Are you sure?', :method => :delete, :title => "Delete"}) %>
				<% end %>
				<%= link_to client.name, client.url %>
			<% end %>
		<% end %>
		</ul>
		<% if authorized? %>
			<%= sortable_element :client_list, :url => { :action => "order" }, :handle => "drag_handle" %>
		<% end %>
	</div>
	<%= render :partial => "common/scroll_buttons" %>
	<script type="text/javascript">
	<!--
	var scroll1 = new TextScroll('scroll1','scroll','scroll_up','scroll_down');
	//-->
	</script>
<% end %>