<% # Begin Config section %>
<% content_for :title do %>
	Custom Web Site Design, Professional Web site Design, Ecommerce Web site Design, SEO Services
<% end %>
<% content_for :meta_tags do %>
	<meta name="description" content="High quality custom web site design, professional web site design, ecommerce web site design, & SEO services at affordable prices.  Command C offers unique custom website design appeal. Williamsburg, Brooklyn, NY, New York">
	<meta name="keywords" content="custom magento ecommerce, custom web site design, custom web site design services, custom website design, custom website design services, web site design, website design, professional web site design,  ecommerce web site design, ecommerce website design, affordable website design, professional website design, professional web site design, seo, seo services, search engine optimization, search engine optimisation, command c, commandc, ny, new york, williamsburg, brooklyn">
<% end %>
<% content_for :bodyclass do %>clients<% end %>
<% content_for :javascripts do %>
	<%= javascript_include_tag 'class-scroll' %>
<% end %>
<% # End Config section %>

<% for client in @featured_clients %>
	<% div_for(client, :class => cycle('top-left', 'top-middle', 'top-right', 'bottom-left', 'bottom-middle', 'bottom-right')) do %>
		&nbsp;<%= link_to image_tag(client.imagefile.public_filename(:client_logo), :class => 'small'), client.url, :target => "_blank" %>
		<div class="small">>> <a href="<%=h client.url %>" target="_blank"><%=h client.name %></a></div>
		<% if authorized? %>
			<%= link_to_show_overlay( image_tag("pencil.png", :size => "16x16"), edit_client_path(client), {:title => "Edit"}) %>
			<%= link_to( image_tag("fail.png", :size => "16x16"), client, {:confirm => 'Are you sure?', :method => :delete, :title => "Delete"}) %>
		<% end %>
	<% end %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => "common/portfoliolink" %>
	<div class="sidebar-list-heading">oh there&rsquo;s more...</div>
	<% if authorized? %>
		<div><%= link_to_function "show all" do |page| 
					page[:scroll].set_style({:overflow => 'visible'}) 
					page['contact-us-button'].toggle
					page['contact-us-rabbit'].toggle
				end %> | 
			<%= link_to_function "hide overflow" do |page| 
						page[:scroll].set_style({:overflow => 'hidden'})
						page['contact-us-button'].toggle
						page['contact-us-rabbit'].toggle
					end %>
		</div>
	<% end %>
	<div id="scroll">
		<ul class="sidebar-list" id="client_list">
		<% for client in @clients %>
			<% content_tag_for :li, client do %>
				<% if authorized? %>
					<%= image_tag("drag_handle.png", :size => "16x16", :class => "drag_handle") %>
					<%= link_to_show_overlay( image_tag("pencil.png", :size => "16x16"), edit_client_path(client), {:title => "Edit"}) %>
					<%= link_to( image_tag("fail.png", :size => "16x16"), client, {:confirm => 'Are you sure?', :method => :delete, :title => "Delete"}) %>
				<% end %>
				<% if client.url.blank? %>
					<%= client.name %>
				<% else %>
					<%= link_to client.name, client.url, :target => "_blank" %>
				<% end %>
			<% end %>
		<% end %>
		</ul>
		<% if authorized? %>
			<%= sortable_element :client_list, :url => { :action => "order" }, :handle => "drag_handle" %>
		<% end %>
	</div>
	<%= render :partial => "common/scroll_buttons" %>
	<script type="text/javascript">
	<!--
	var scroll1 = new TextScroll('scroll1','scroll','scroll_up','scroll_down');
	//-->
	</script>
<% end %>