<% # Begin Config section %>
<% content_for :title do %>COMMAND C > Our Work > <%=h @project.name %><% end %>
<% content_for :bodyclass do %>projects<% end %>
<% content_for :javascripts do %>
	<%= javascript_include_tag 'accordion' %>
<% end %>
<% # End Config section %>

<% if @project.tabs.empty? %>
	<p class="lightgray bold huge">add tabs</p>
<% else %>
	<div id="tab_image_wrapper">
		<div id="tab_image"><%= image_tag @project.tabs.first.imagefile.public_filename %></div>
		<% unless @project.tabs.count < 2 %>
			<div id="tab_image_links">
				<% if @project.url %>
					<div id="project_url"><%= link_to @project.url, @project.url, :target => "_blank" %></div>
				<% end %>
				<% @project.tabs.each_with_index do |tab, i| %>
					<% if i==0 then link_class = "active" else link_class = "inactive" end %>
					<%= link_to_function i+1, :id => "link#{i+1}", :class => link_class do |page|
					 	page.replace_html('tab_image', image_tag(tab.imagefile.public_filename))
						page.select('#tab_image_links a').each do |link| link.removeClassName('active') end
						page["link#{i+1}"].addClassName('active')
						page << "tabs.activate($$('#tab_list .accordion_toggle')[#{i}])"
					end %>
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>

<% content_for :sidebar do %>
	<% if authorized? %>
		<div id="project_admin">
		<%= image_tag("pencil.png", :size => "16x16")%>
		<%= link_to("edit portfolio item", edit_project_path(@project) )%><br />
		<%= image_tag("fail.png", :size => "16x16")%>
		<%= link_to("delete portfolio item", @project, {:confirm => 'Are you sure?', :method => :delete, :title => "Delete"} )%><br />
		<%= image_tag("add.png", :size => "16x16") %>
		<%= link_to("add new tab", new_tab_path(:project_id => @project.id)) %>
		</div>
	<% end %>
	<% unless @project.tabs.empty? %>
		<div id="tab_list">
			<% @project.tabs.each_with_index do |tab,i| %>
				<%= render :partial => "tab", :locals => { :tab => tab, :i => i, :project => @project } %>
			<% end %>
		</div>
		<% if authorized? %>
			<%= sortable_element :tab_list, :url => { :controller=> "tabs", :action => "order"}, :handle => "drag_handle", :tag => "div"  %>
		<% end %>
		<script type="text/javascript">
		<!--
		var tabs;
		
		Event.observe(window, 'load', loadAccordions, false);

		var verticalAccordions = $$('.accordion_toggle');
			verticalAccordions.each(function(accordion) {
			    $(accordion.next(0)).setStyle({
			        height: '0px'
			    });
			});

		function loadAccordions() {

			tabs = new accordion('tab_list', {
				defaultSize : {
				    width : 'auto',
					height : 110
				}
			});

			// Open first one
			tabs.activate($$('#tab_list .accordion_toggle')[0]);
		}
		//-->
		</script>
	<% end %>
<% end %>
