<h1>New tab for <%= @tab.project.name %></h1>

<% form_for(@tab, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 8 %>
  </p>
  <% fields_for :imagefile do |a| %>
  <p>
    <%= a.label 'Image' %><br />
    <%= a.file_field :uploaded_data %>
  </p>
  <% end %>
  <p>
	<%= f.hidden_field :project_id %>
    <%= f.submit "Create" %>
  </p>
<% end %>
