<% # Begin Config section %>
<% content_for :title do %>
	<%= render :partial => "common/default_title" %>
<% end %>
<% content_for :meta_tags do %>
	<%= render :partial => "common/default_seo" %>
<% end %>
<% content_for :alt_prefix do %>
	<%= render :partial => "common/default_alt_prefix" %>
<% end %>
<% content_for :bodyclass do %>about<% end %>
<% # End Config section %>

<%= image_tag 'the-scoop.gif', :id => "the_scoop", :size => "300x63", :alt => "custom web site design: the scoop" %>
<div class="copy">
	<p class="top"><span class="bold red">COMMAND C</span> design, LLC is a comprehensive creative services firm, bringing accessible marketing solutions that fuse your business mission with cutting edge design. We will manage your 
	<%= categories_list = Category.get(1).children.find_all{|c| c.show_on_homepage }
		categories_list.collect{|c|
			if c.show_on_homepage
				'<strong>'+link_to( c.name, category_path(c), :title => c.name)+'</strong>'
			end
		 }.to_sentence %>.</p>
	<p>Our mission is to produce unique designs with a quality you <br />can quantify. In a world of constant change and challenge, <br /><span class="bold red">COMMAND C&rsquo;s</span> vision remains clear and focused:</p>
	<p class="bold">To provide our clients with exceptional design and <br />development services both today and tomorrow.</p>
</div>
<% content_for :sidebar do %>
	<%= render :partial => "common/portfoliolink" %>
	<%= image_tag "big-slim-with-text.gif", :size => "239x366", :id => "about-rabbit", :alt => yield(:alt_prefix) + "This is Slim. Slim works for us, mostly holding signs and stuff" %>
<% end %>