<% # Begin Config section %>
<% content_for :title do %>
	<%= render :partial => "common/default_title" %>
<% end %>
<% content_for :meta_tags do %>
	<%= render :partial => "common/default_seo" %>
<% end %>
<% content_for :alt_prefix do %>
	<%= render :partial => "common/default_alt_prefix" %>
<% end %>
<% content_for :bodyclass do %>about<% end %>
<% # End Config section %>


<div class="copy">
	<p class="top"><span class="bold red">COMMAND C</span> is a passionate, forward-thinking, boutique design firm specializing in creating highly customized solutions for the web. Our mission is to seamlessly integrate fundamental design strategy with cutting edge technology. We believe in face-to-face communication and an open and transparent working manner. </p>
	<p><span class="bold red">COMMAND C</span> was founded in 2004 upon the concept that every project is unique and great projects deserve undivided, customized attention. Based on this notion, <span class="bold red">COMMAND C</span> was built to be form-fitting, assembling a team of specialists around what the project needs and deserves. We maintain this flexibility by keeping our firm small and only accepting a limited number of projects at a time.</p>
</div>
<% content_for :sidebar do %>
	<%= render :partial => "common/portfoliolink" %>
	<%= image_tag "big-slim-with-text.gif", :size => "239x366", :id => "about-rabbit", :alt => yield(:alt_prefix) + "This is Slim. Slim works for us, mostly holding signs and stuff" %>
<% end %>

<% content_for :submenu do %>
	<div id="submenu">
		<%= image_tag 'the-scoop.gif', :class => "submenu-heading", :id => "the_scoop", :size => "300x63", :alt => "custom web site design: the scoop" %>
		<ul class="submenu">
				<li><a class="current" href="javascript: void(0);">what we do</a>
				<ul id="about-category-list" class="subsubmenu">
					<% categories_list = Category.get(1).children.find_all{|c| c.show_on_homepage } %>
					<% categories_list.each do |category| %>
						<li><%= link_to category.name, category, :title => category.name %></li>
					<% end %>
				</ul>
				</li>
		</ul>
	</div><!-- EOF DIV 'submenu' -->
<% end %>	