<% # Begin Config section %>

<% content_for :title do %>
	<%= render :partial => "common/default_title" %>
<% end %>
<% content_for :meta_tags do %>
	<%= render :partial => "common/default_seo" %>
<% end %>
<% content_for :alt_prefix do %>
	<%= render :partial => "common/default_alt_prefix" %>
<% end %>
<% content_for :bodyclass do %>home<% end %>
<% # End Config section %>

<div class="copy">
	<p><span class="bold red">COMMAND C</span> will manage your 
	<%= categories_list = Category.get(1).children.find_all{|c| c.show_on_homepage }
		categories_list.collect{|c|
			if c.show_on_homepage
				'<strong>'+link_to( c.name, category_path(c), :title => c.name)+'</strong>'
			end
		 }.to_sentence %> needs 
	with customer service so personalized, 
	it will make all of the other relationships 
	in your life seem lacking. Don&#x27;t blame 
	us for the ensuing couple&#x27;s therapy, 
	we can't help it if you fall in love…</p>
</div>
<%= link_to image_tag( 'goodstuff.gif', :id => "goodstuff", :size => "389x50", :alt => yield(:alt_prefix) + "the good stuff", :mouseover => 'goodstuff_ro.gif'), portfolio_path, :title => "the good stuff" %>

<% content_for :sidebar do %>
	<% if @recent_projects %>
		<div id="recent-projects">
			<div class="larger bold">recent projects:</div>
			<% for project in @recent_projects %>
				<% div_for project, :class => "recent-project" do %>
					<% if authorized? %>
						<%= image_tag('drag_handle.png', :size => '16x16', :alt => 'drag project', :class => 'recent_project_drag_handle' ) %>
					<% end %>
					<% project_category = project.categories.first %>
					<%= link_to image_tag(project.imagefile.public_filename(:project_thumb), :alt => yield(:alt_prefix) + project.name), category_project_path(project_category, project), :title => project.name %>
					<div class="small">
						>> <%= link_to project.name, category_project_path(project_category, project), :title => project.name %>
					</div>
				<% end %>
			<% end %>
			<%= sortable_element 'recent-projects', :url => { :controller=> "projects", :action => "order"}, :handle => "recent_project_drag_handle", :tag => "div", :only => "recent-project" if authorized? %>
		</div>
	<% end %>
<% end %>
