<h1>Editing category</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Parent Category" %><br />
    <%= f.collection_select(:parent_id, Category.roots, :id, :name) %>
  </p>
  <p>
    <%= f.label "FYI text" %><br />
    <%= f.text_area :fyi, :rows => 4 %>
  </p>
  <p>
    <%= f.label "Show on homepage?" %><br />
    <%= f.check_box :show_on_homepage %>
  </p>
  <h2 class="bold">SEO</h2>
  <p>
    <%= f.label 'Page Title' %><br />
    <%= f.text_field :seo_title %>
  </p>
  <p>
    <%= f.label 'Keywords' %><br />
    <%= f.text_field :seo_keywords %>
  </p>
  <p>
    <%= f.label 'H1 text' %><br />
    <%= f.text_field :seo_h1 %>
  </p>
  <p>
    <%= f.label 'Image ALT tag prefix' %><br />
    <%= f.text_field :seo_alt_prefix %>
  </p>
  <p>
    <%= f.label "Description" %><br />
    <%= f.text_area :seo_description, :rows => 4 %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>