<h1>New category</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Parent Category" %><br />
    <%= f.collection_select(:parent_id, Category.roots, :id, :name) %>
  </p>
  <p>
    <%= f.label "FYI text" %><br />
    <%= f.text_area :fyi, :rows => 4 %>
  </p>
  <p>
    <%= f.label "Show on homepage?" %><br />
    <%= f.check_box :show_on_homepage %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>