<% # Begin Config section %>
<% content_for :title do %>Custom Web Site Design, Professional Web site Design, Ecommerce Web site Design, SEO Services<% end %>
<% content_for :meta_tags do %>
	<meta name="description" content="High quality custom web site design, professional web site design, ecommerce web site design, & SEO services at affordable prices.  Command C offers unique custom website design appeal. Williamsburg, Brooklyn, NY, New York">
	<meta name="keywords" content="custom magento ecommerce, custom web site design, custom web site design services, custom website design, custom website design services, web site design, website design, professional web site design,  ecommerce web site design, ecommerce website design, affordable website design, professional website design, professional web site design, seo, seo services, search engine optimization, search engine optimisation, command c, commandc, ny, new york, williamsburg, brooklyn">
<% end %>
<% content_for :bodyclass do %>reviews<% end %>
<% content_for :javascripts do %>
	<%= javascript_include_tag 'accordion' %>
	<%= javascript_include_tag 'class-scroll' %>
<% end %>
<% # End Config section %>

<div id="reviews_accordion">
	<% for review in @reviews %>
		<% div_for review do %>
			<div class="accordion_toggle">
				<span class="red bold upper"><%= review.client.name %>:</span>
				<span class="lightgray bold"><%= review.reviewer %></span>
				<% if authorized? %>
					<%= link_to_show_overlay( image_tag("pencil.png", :size => "16x16"), edit_review_path(review), {:title => "Edit"}) %>
					<%= link_to( image_tag("fail.png", :size => "16x16"), review, {:confirm => 'Are you sure?', :method => :delete, :title => "Delete"}) %>
					<%= image_tag("drag_handle.png", :size => "16x16", :class => "drag_handle") %>
				<% end %>
			</div>
			<div class="accordion_content" style="display:none;">
				<div><%= simple_format review.content %></div>
			</div>
		<% end %>
	<% end %>
</div>
<%= render :partial => "common/scroll_buttons" %>
<% if authorized? %>
	<%= sortable_element :reviews_accordion, :url => { :action => "order"}, :handle => "drag_handle", :tag => "div"  %>
<% end %>
<script type="text/javascript">
<!--
Event.observe(window, 'load', loadAccordions, false);

var verticalAccordions = $$('.accordion_toggle');
	verticalAccordions.each(function(accordion) {
	    $(accordion.next(0)).setStyle({
	        height: '0px'
	    });
	});
	
function loadAccordions() {
	
	var reviews = new accordion('reviews_accordion', {
		defaultSize : {
		    width : 485,
			height: 'auto'
		}
	});

	// Open first one
	reviews.activate($$('#reviews_accordion .accordion_toggle')[0]);
}

var scroll1 = new TextScroll('scroll1','reviews_accordion','scroll_up','scroll_down');
//-->
</script>

<% content_for :sidebar do %>
	<%= render :partial => "common/portfoliolink" %>
<% end %>

