<h1>New review</h1>

<% form_for(@review) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :reviewer %><br />
    <%= f.text_field :reviewer %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 8 %>
  </p>
  <p>
    <%= f.label :client %><br />
    <%= f.collection_select :client_id, Client.find(:all), :id, :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
